@font-face {
    font-family: smallFont;
    src: url(../pixelfont.ttf);
}
html, body {
    height: 100%;
    background-color: white;
    overflow: hidden;
  }
  /* Heading styles */
.heading {
    color: blue;
    text-align: center;
    margin-top: 50px;
    font-family: smallFont;
  }
  
  /* Fake div container styles */
  .fake-div {
    position: absolute;
    cursor: pointer;
    transition: top 0.01s, left 0.01s;
  }
  
  /* Portal image styling */
  .portal-img {
    width: 180px;
    height: 180px;
  }
  
  /* Status text styling */
  .status-text {
    color: lightgray;
    text-align: center;
    font-family: smallFont;
  }