body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
  }
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    border-bottom: 2px solid #000;
  }
  
  .back-button {
    position: absolute;
    left: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
  }
  
  .page-title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 30px;
  }
  
  .grid-item {
    text-align: center;
  }

  .grid-item img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
  }
  .grid-item video {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
  }
  
  .description {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  #iframe, #inspo2 {
    width: 100%;
    height: 300px;
    border: 2px solid black;
  }

  #inspo2 {
    width: 100%;
    max-width: 480px;
    height: 270px;
    border: 2px groove silver;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
  }

#inspo3 {
    width: 100%;
    max-width: 480px; 
    height: 270px; 
    border: 2px solid silver; 
    box-sizing: border-box; 
    display: block; 
    margin: 0 auto; 
  }
 
#inspo2, #inspo3, #inspo4 {
    width: 80%; 
    height: 250px;
    border: 2px solid silver; 
    margin: 0 auto; 
    display: block;
  }
  
  
  
  
  